article{
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 4em;
    letter-spacing: 0.005em;

    h1{
        background-color: #005282;
        color: #fff;
        font-size: 70px;
        padding-block: 1em;
        line-height: 1.5em;
        letter-spacing: 0.05em;
    }

    h2{
        margin-top: 2em;
        margin-bottom: 0.5em;
        font-size: 40px;
        color: #005282;
    }

    h1,h2,p,ul{
        padding-inline: 5rem;
    }

    p+p{
        margin-top: 1em;
    }

    ul{
        column-count: 3;
        column-gap: 2em;
    }

    li{
        margin-block: 0.2em;
        line-height: 1.5em;
        list-style-type: none;
        font-size: small;

        &::before{
            content: '•';
            color: #005282;
            margin-right: 0.5em;
            line-height: inherit;
        }
    }

}

footer{
    text-align: right;
    padding: 5rem;
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 4em;
    background: #005282;
    color: #fff;

    li{
        list-style-type: none;
        position: relative;
        margin-top: 0.5em;
        strong{
            color: #fff;
            display: block;

            position: absolute;
            right: 10em;
            width: 10em;
            text-align: left;
        }

    }
}